.navbar {
    background-color: antiquewhite;
}

.nav {
    display: flex;
    gap: 1rem;
    
    
}

.navlink {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(141, 209, 234)
}

.navlink.active{
    color: white;
    background-color: rgb(66, 142, 116);

}